$win-color: #c2eca3;
$lose-color: #e2b6b3;

.game-summary {
  margin: 0.5em 0;
  display: flex;
}

.game-summary__team {
  width: 50%;
}

.game-summary__team--blue {
  margin-right: 1px;
}

.game-summary__team--red {
  margin-left: 1px;
}

.game-summary__team--win {
  background-color: $win-color;
  border: 4px solid $win-color;
  border-radius: 6px;
}

.game-summary__team--lose {
  background-color: $lose-color;
  border: 4px solid $lose-color;
  border-radius: 6px;
}
