@import "styles/theme.scss";

$win-color: $success-color;
$lose-color: $light-gray;

.game-summary {
  margin: 0.5em 0;
}

.game-summary__time {
  font-weight: bold;
}

.game-summary__external-link {
  float: right;
}

.game-summary__participants {
  display: flex;
}

.game-summary__team {
  width: 50%;
  font-size: 1.2em;
}

.game-summary__team--blue {
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
}

.game-summary__team--red {
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
}

.game-summary__team--win {
  color: white;
  background-color: $win-color;
}

.game-summary__team--lose {
  background-color: $lose-color;
}
