$primary-color: #00d1b2;
$success-color: #00a4cfb3;
$light-gray: lighten(#98b0aa, 15%);

$font-color: #555e5e;

$content-max-width: 65em;

body {
  color: $font-color;
  font-family: "Helvetica Neue", Helvetica, Arial, Tahoma, serif;
}

a {
  color: #00a4cf;
}

.clickable {
  &:hover {
    cursor: pointer;
    color: darken($font-color, 40%);
  }
}

.button.button-primary {
  background-color: $primary-color;
  border-color: $primary-color;

  &:hover {
    background-color: darken($primary-color, 10%);
    border-color: darken($primary-color, 10%);
  }
}

.input-invalid {
  border-color: red;

  &:focus {
    border-color: red;
  }
}
