.game-participant {
  margin: 2px 0;
}

.game-participant__details {
  display: flex;
  align-items: center;
}

.game-participant__details--blue-team {
  flex-direction: row-reverse;
  text-align: right;
}

.game-participant__stat {
  margin: 0 2px;
}

.game-participant__champion {
  display: flex;
  height: 40px;
  width: 40px;
}

.game-participant__kda {
  width: 20%;
  margin: 0 8px;
}

.game-participant__summoner {
  width: 50%;
}
