@import "styles/theme.scss";

.navbar {
  background-color: $primary-color;
}

.navbar-menu {
  max-width: $content-max-width;
  margin: 0 auto;
}

.navbar-item {
  color: white;
  font-weight: bold;

  &:hover {
    color: white;
    cursor: pointer;
    background-color: darken($primary-color, 10%);
  }
}
