@import "styles/theme.scss";

.navbar {
  background-color: $primary-color;
}

.navbar-menu {
  max-width: $content-max-width;
  margin: 0 auto;
}

.navbar-item,
// Need to style anchor since React Router renders an anchor for a Link component
a.navbar-item {
  color: white;
  font-weight: bold;
  padding-bottom: 5px;
  border-bottom: 3px solid transparent;

  &:hover {
    color: white;
    cursor: pointer;
    background-color: darken($primary-color, 10%);
  }
}

a.navbar-item.navbar-item--active {
  border-bottom-color: #286176;
}
